<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h2>Date time aspect</h2>
                <p>
                    Current timestamp of request: <strong>{currentTimestamp}</strong>
                </p>
                <h2>Language aspect</h2>
                <p>
                    Language id of current page: <strong>{languageOfCurrentPage}</strong>
                </p>
                <h2>User aspect (frontend)</h2>
                <p>
                    <f:if condition="{isLoggedInFeUser}">
                        <f:then>
                            Frontend user is logged in
                        </f:then>
                        <f:else>
                            No frontend user is logged in
                        </f:else>
                    </f:if>
                </p>
                <h2>User aspect (backend)</h2>
                <p>
                    <f:if condition="{backendUserUid} != 0">
                        <f:then>
                            Backend user is logged in with username "{backendUsername}"
                        </f:then>
                        <f:else>
                            No backend user is logged in
                        </f:else>
                    </f:if>
                </p>
            </div>
        </div>
    </div>
</f:section>
</html>
